/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 2em;
    line-height: 1.3;
}

body {
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

:root {
    /* colors */
    --white: #fff;
    --black: #000;
    --gray-100: #ebebeb;
    --gray-400: #a3a3a3;

    --green: #25c389;
    --green-dark: #21c183;
    --blue: #19b2de;
    --blue-dark: #186aa2;
    --red: #de6262;
    --yellow: #ffb901;
    --navy: #0e2e4e;

    /* fonts */
    --font-primary: "Ubuntu", sans-serif;
    --font-secondary: "Noto Sans", sans-serif;
    --font-alt: "Open Sans", sans-serif;

    /* layout */
    --page-width: 70%;
    --radius-sm: 4px;
}

/* ==========================================================================
   HELPERS
   ========================================================================== */

.hidden,
[hidden] {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   GRID
   ========================================================================== */

/* Helper to display empty layout containers*/

/* 2.1 Core layout */

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
}

/* 2.2 Small only */

@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }
}

/* 2.3 medium and up */

@media screen and (min-width: 40em) {
    .row {
        max-width: 70rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }
    .grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }
}

/* 2.4 Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .m-hide {
        display: none;
    }
}

/* 2.5 large screens and up 2.6 Large only */

@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .l-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .l-hide {
        display: none;
    }
}

/* ==========================================================================
   PAGE LAYOUT
   ========================================================================== */

.page {
    background: var(--white);
}

.page__header__navbar,
.page__main__content,
.page__footer__content,
.imageWrapper {
    width: var(--page-width);
    margin: 0 auto;
}

.page__main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__main__content > * {
    width: 100%;
    margin-bottom: 2em;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.page__header__navbar {
    display: flex;
    justify-content: space-between;
    height: 96px;
}

.page__header__logo {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.page__header__logo img {
    width: 177px;
}

.page__header__navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.page__header__navbar li {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;
}

.page__header__navbar li:nth-child(1) {
    background: var(--green);
}
.page__header__navbar li:nth-child(2) {
    background: var(--yellow);
}
.page__header__navbar li:nth-child(3) {
    background: var(--red);
}
.page__header__navbar li:nth-child(4) {
    background: var(--blue);
}
.page__header__navbar li:nth-child(5) {
    background: #265787;
}

/* Page Layout */
.page {
    background-color: var(--main-bg-color);
}

/* Navigation Bar */
.page__header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 96px;
    width: 70%;
    margin: 0 auto;
}

.page__header__logo {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 0.5rem;
}

.page__header__logo img {
    display: block;
    width: 177px;
    align-self: flex-end;
}

/* Menu List */
.page__header__navbar ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.page__header__navbar li {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

/* Menu Item Colors */
.page__header__navbar li:nth-child(1) {
    background-color: #25c389;
}
.page__header__navbar li:nth-child(2) {
    background-color: #ffb901;
}
.page__header__navbar li:nth-child(3) {
    background-color: #de6262;
}
.page__header__navbar li:nth-child(4) {
    background-color: #19b2de;
}
.page__header__navbar li:nth-child(5) {
    background-color: #265787;
}

/* Header Carousel */
.imageContainer {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: #ebebeb;
    overflow: hidden;
}

.imageWrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.imageContainer__image {
    width: 100%;
    display: block;
}

/* Carousel Text Boxes */
.carousel-text {
    position: absolute;
    left: 2rem;
    padding: 0.5rem 1rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-text.blue {
    top: 20%;
    border-left: 7px solid #186aa2;
}

.carousel-text.red {
    top: 35%;
    border-left: 7px solid #de6262;
}

.carousel-text.yellow {
    top: 50%;
    border-left: 7px solid #ffb901;
}

/* Carousel Buttons */
.header__carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #6d6d6d2e;
    background: #d9d9d9a3;
    color: rgba(0, 0, 0, 0.18);
    font-size: 1.5rem;
    cursor: pointer;
}

.header__carousel__button.prev {
    left: 4.5rem;
}

.header__carousel__button.next {
    right: 4.5rem;
}

/* Header Introduction */
.introduction {
    font-family: "Ubuntu", sans-serif;
    font-size: 34px;
    font-weight: 400;
    width: 70%;
    text-align: center;
    margin: 2rem auto;
}

.introduction span {
    color: #1eafde;
}

/* Headers */
.header {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
}

.subheader {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin-top: 0;
    color: #a3a3a3;
}

/* Main Section */
.page__main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.page__main__content > * {
    width: 100%;
    margin-bottom: 2em;
}
.page__main__container {
    display: flex;
    justify-content: center;
}

/* Services */
.services__card__image {
    width: 40%;
}

.services__card__heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 1em auto;
}

.services__card__description {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #939393;
    margin: 0 auto;
}

.services__card {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Latest Work */

.latestWork__post {
    position: relative;
}

.latestWork__date {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0.2rem 0.25rem;
    line-height: 1;
    background-color: #d8605f;
    color: white;
}

.latestWork__date span {
    font-size: 8px;
}

.latestWork__post__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 5 / 4;
    top: 0;
}
.latestWork__post__title {
    font-family: "Ubuntu", sans-serif;
    font-family: 400;
    font-size: 16px;
    margin-bottom: 0;
}

.latestWork__post__subtitle {
    font-family: "Ubuntu", sans-serif;
    font-family: 400;
    font-size: 11px;
    margin-top: 0;
}

.post__BG__Icon {
    width: 12%;
    height: 12%;
}

.latestWork__post__title__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.5rem;
    align-items: center;
    background-color: #19b2de;
}

/* Portfolio */
.portfolio__post {
    aspect-ratio: 5 / 4;
}
.portfolio__post__image {
    width: 100%;
    height: 100%;
}

/* Previous Clients */
.previousClients__post {
    aspect-ratio: 1.4/1;
}

.previousClients__logo {
    width: 100%;
    height: 100%;
}

/* Footer */
.page__footer {
    background-color: #0e2e4e;
    color: white;
    position: relative;
    padding-bottom: 2rem;
}

.page__footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 15rem;
    height: 1rem;
    background: linear-gradient(
        to right,
        #25c389 0%,
        #25c389 20%,
        #ffb901 20%,
        #ffb901 40%,
        #de6262 40%,
        #de6262 60%,
        #1691bd 60%,
        #1691bd 80%,
        #166ba2 80%,
        #166ba2 100%
    );
}

.page__footer__container {
    display: flex;
    justify-content: center;
}

.page__footer__content {
    width: 70%;
}

.founder {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
    max-width: none;
    margin: 2em 0 0 0;
    justify-content: flex-start;
}

.founder__image {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.founder__description {
    font-family: "Ubuntu", sans-serif;
    font-family: 400;
    font-size: 12px;
    text-align: left;
    width: 70%;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 0.5rem;
}

.founder__text__container {
    padding-bottom: 1rem;
}

.founder__description::after {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 15%;
    height: 3px;
    background: #ffb901;
    transform: translate(-50%, 50%);
}

/* Footer */
.footer__information {
    margin-top: 1.5em;
    margin-bottom: 0.5rem;
}

.footer__information__header {
    font-family: "Ubuntu", sans-serif;
    font-family: 500;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.footer__information__header {
    position: relative;
}
.footer__information__header::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    transform: translate(-50%, 50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid red;
}

.footer__information__line {
    margin-top: 0;
    border: none;
}

.green__line {
    border-bottom: 4px solid #21c183;
}

.green__line::after {
    border-top: 12px solid #21c183;
}

.blue__line {
    border-bottom: 4px solid #19b2de;
}

.blue__line::after {
    border-top: 12px solid #19b2de;
}

.orange__line {
    border-bottom: 4px solid #ffb901;
}

.orange__line::after {
    border-top: 12px solid #ffb901;
}
/* About us */
.footer__information__aboutUs__text {
    font-family: "Ubuntu", sans-serif;
    font-family: 400;
    font-size: 12px;
}

/* Instagram */
.footer__information__instagram__post {
    width: 27%;
    margin: 1% 0;
    aspect-ratio: 1/1;
}

/* Mastodon */
.footer__information__newMastodon__author {
    color: #1bade6;
}
.footer__information__newMastodon__content {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 9px;
}

/* Track Us */
.footer__information__trackUs__social__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.25rem;
}

.footer__information__trackUs__social {
    width: 22%;
    margin: 1% 0;
    display: flex;
}

.footer__information__trackUs__social__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Track Us Form */
.footer__information__trackUs__form {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: 32px;
    overflow: hidden;
    margin-top: 0.25rem;
}

.footer__information__trackUs__form input[type="email"] {
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;
    padding: 0 0.25rem;
    background-color: #ff4f87;
    color: white;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    font-family: "Ubuntu", sans-serif;
}

.footer__information__trackUs__form input::placeholder {
    color: white;
}

.footer__information__trackUs__form button {
    flex: 0 0 auto;
    height: 100%;
    background-color: #ffb901;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 11px;
    line-height: 1;
}
